.container {
  display: flex;
  align-items: center;
}

/* Image */
.container .image-container img {
  width: 100%;
  height: 100%;
}

/* Text */
.container .text-container p {
  width: 300px;
  font-size: 13px;
}

.container .text-container h1 {
  font-size: 30px;
}
